.grid3 {
    background-color: #efefef;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    .grid3-content {
        flex: 1;
        padding: 10px;
        margin: 50px;
        border: 10px solid #333;
        background-color: #fefefe;
        display: flex;
        align-items: center;
        justify-content: center;

        .centered {
            width: 1000px;
            background-color: white;
            border: 1px solid #333;
        }
    }
    .grx {
        position: relative;
        height: 75px;
        width: 100%;
        margin: 0px;
        display: flex;
        padding: 0px;
        box-sizing: border-box;
        background-color: #ccc;
        >div {
            width: 100%;
            position: absolute;
            height: 75px;
            border: 1px solid #888;
            padding: 2px 2px 2px 2px;
            box-sizing: border-box;
            margin: 0px;
            background-color: #f7f7f7;
            display: flex;
            position: relative;
        }
    }
    .gri {
        width: 160px;
        color: white;
        box-sizing: border-box;
        display: flex;
        >div {
            color: green;
            flex: 1;
            padding: 5px;
            margin: 2px;
            border: 2px solid green;
            background-color: #ddd;
        }
    }
}