@import 'body.scss';
@import 'grid1.scss';

@import 'simpleDrag.scss';

@import 'grid2.scss';
@import 'grid3.scss';

html {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

#app {
    margin: 0px;
    padding: 0px;
    height: 100%;
}